# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

secret.md

/public/uploads/avatar/*
!/public/uploads/avatar/.gitkeep
!/public/uploads/avatar/default-avatar.jpg

/public/uploads/berita/*
!/public/uploads/berita/.gitkeep

/public/uploads/dokumentasi/*
!/public/uploads/dokumentasi/.gitkeep

/public/uploads/kesatuan/*
!/public/uploads/kesatuan/.gitkeep
!/public/uploads/kesatuan/default-logo.svg

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

/app/generated/prisma
